<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="grid-container">
            <header class="header" style="background-image: url({{ asset('img/sakura.jpg') }})">
                <span class="site-title font-large">Min sida med symfony</span>
            </header>

            <nav class="navbar">
                <ul>
                    <li><a href="{{ path('report') }}">Report</a></li>
                    <li><a href="{{ path('about') }}">About</a></li>
                    <li><a href="{{ path('me') }}">Me</a></li>
                    <li><a href="{{ path('lucky') }}">Lucky</a></li>
                    <li><a href="{{ path('quote') }}">Quote</a></li>
                </ul>
            </nav>
            <main class="main">{% block body %}{% endblock %}</main>

            <footer class="footer">
                <p>Den här sidan är skapad med symfony ramverk av Markus Lindgren, 2023.</p>
            </footer>
        </div>
    </body>
</html>
