<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <span class="site-title">Min sida med symfony</span>
        <nav>
            <ul>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('me') }}">Me</a></li>
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
